<div class="d-flex flex-column align-items-center mt-e">
    <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
        <div class="card">
            <div class="card-header">
               Create Post 
            </div>
            <div class="card-body">
                <%= form_for @post, :html => {:multipart => true, :class => "dropzone upload-images p-0 border-0"} do |f| %>
                    <div class="form-group row mt-2">
                        <div class="col-auto pr-0">
                            <!--Image tag--> 
                        </div>
                        <div class="col pl-0">
                            <%= f.text_field :content, class: "form-control border-0",
                                placeholder: "Say something about this ..." %>
                        </div>
                    </div>
                    <div class="fallback">
                        <%= file_field_tag "images[]", type: :file, multiple: true %>
                    </div>
                    <div class="dz-message m-0">
                        <div class="dropzone-previews mb-3">
                            <div class="upload-photos-icon">
                                <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:#DDDFE2"></i>
                            </div>
                        </div>
                    </div>
                    <%= f.submit "Post", class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<% @posts.each do |post| %>
    <div class="card mt-3 post">
        <div class="card-header">
            <%= link_to user_path(post.user), class: "no-text-decoration" do %>
                <%= image_tag avatar_url(post.user), class; "post-author-icon" %>
            <% end %>
            <%= link_to user_path(post.user), class: "normal-color no-text-decoration",
                title: post.user.name do %>
                <strong><%= post.user.name %></strong>
            <% end %>
        </div>

        <div class="card-body">
            <div class="row actions">
                <a href="core-spirit love hide-text">Love</a>
                <a href="core-spirit comment hide-text">Comment</a>
                <a href="core-spirit bookmark hide-text ml-auto">Bookmark</a>
            </div>
            <div><strong><%= pluralize(16, "like") %></strong></div>
            <div>
                <span><strong><%= post.user.name %></strong></span>
                <span><%= post.content %></span>
            </div>
            <div class="light-color post-time"><%= time_ago_in_words(post.created_at).upcase %> AGO</div>
            <hr>
            <div class="row-actions">
                <form action="#" classs"w-100">
                    <div>
                        <textarea class="form-control comment-input border-0" placeholder="Add a comment ..." rows="1"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <p><%= post.content %></p>
    <% post.photos.each do |photo| %>
        <%= image_tag photo.image.url(:standard) %>
    <% end %>
<% end %>